<!doctype html>
<html>
<head>
<#include '../../common/base.html'>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
<meta charset="utf-8">
<link href="${base}/resources/mobileapi/css/base.css" type="text/css" rel="stylesheet">
<link href="${base}/resources/mobileapi/css/css.css" type="text/css" rel="stylesheet">
<title>盈+详情</title>
</head>
<body>
<h1 class="conTit">${(news.title)!!}<span>发布时间：${(news.addtime?string('yyyy-MM-dd'))!!}</span></h1>
<div class="content">
    <audio src="${base}/${(news.filelink)!!}" controls="controls" autoplay="autoplay" loop="loop">
</div>
</body>
</html>
