<!doctype html>
<html>
<head>
<#include '../../common/base.html'>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta charset="utf-8">
<title>下载盈+理财APP</title>
<meta name="keywords" content="盈+，盈，社区金融，O2O社区金融，社区金融O2O，O2O，互联网+社区金融，O2O连锁，社区门店，首家社区金融，社区金融服务，综合金融，互联网金融，体验中心，普惠金融，金融创新，社区化，普惠化，全渠道化，互联网线上平台，O2O交易，全国首家，盈十，金融衍生品，固收类理财，私募基金，股权基金，股指期货，玩转股指，商品期货，国际期货，外盘，A50，沪深300，中证500，上证50" />
<meta name="description" content="盈+——全国首家互联网金融交流体验中心，与您共盈，给财富做加法。" />
<link href="${base}/resources/web/images/icon.ico" type="image/x-icon" rel="shortcut icon">

<link href="${base}/resources/mobileapi/css/base.css" type="text/css" rel="stylesheet">
<link href="${base}/resources/mobileapi/css/css.css" type="text/css" rel="stylesheet">
<link href="${base}/resources/mobileapi/font/iconfont.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="${base}/resources/sys/js/jquery.js"></script>
<script type="text/javascript">
$(function(){
    var tipBox = $(".tipBox"),
		mask = $(".mask");
    var ua = navigator.userAgent.toLowerCase();

    function is_weixin() {
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            return true;
        } else {
            return false;
        }
    }
    $('.aTxt').click(function () {
        if (/iphone|ipad|ipod/.test(ua)) {
            if (is_weixin()) {
				
                tipBox.css({ "display": "block" });
                mask.css({ "height": $(document).height() + "px", "display": "block" });
                tipBox.animate({ "height": "95px" });
            }
            else {
                window.location.href = "${base}/download/app/ios";
            }
        }
        else if (/android/.test(ua)) {
            if (is_weixin()) {
                tipBox.css({ "display": "block" });
                mask.css({ "height": $(document).height() + "px", "display": "block" });
                tipBox.animate({ "height": "95px" });
            }
            else {
                window.location.href = "../../../../resources/app/YingJia.apk";
            }
        }

    });

    mask.click(function () {
        tipBox.css({ "display": "none" });
        mask.css({ "display": "none" });
        tipBox.animate({ "height": "0px" });
    });
})	
</script>
</head>
<body>

<div class="mask">
	<div class="tipBox">
        <div class="innerBox">
            点击右上角<br>
            选择<strong>在浏览器中打开</strong>
        </div>
    </div>
</div>


<ul class="logo" style="height:60vh">
	<li><img style="max-height:50vh" src="${base}/resources/mobileapi/images/yjLogo.png"></div></li>
</ul> 
<a class="aTxt apple" href="javascript:" ><span class="iconfont">&#xe60b;</span>IOS版本下载</a>
<a class="aTxt andour" href="javascript:"><span class="iconfont" target="_black">&#xe60a;</span>安卓版本下载</a>
</body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?282435d865729ac986ce327cbc2a51c1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</html>
