<!DOCTYPE html>
<html lang="zh-cn">
<#include '../common/base.html'>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="${base}/resources/sys/ying/iconfont.css">
        <link rel="stylesheet" href="${base}/resources/sys/style/bootstrap.css">
        <link rel="stylesheet" href="${base}/resources/sys/style/style.css">
        <script type="text/javascript" src="${base}/resources/sys/js/jquery.js"></script>
        <script type="text/javascript" src="${base}/resources/sys/js/bootstrap.js"></script>
        
        <link rel="stylesheet" href="${base}/resources/date/bootstrap-datetimepicker.min.css">
        <script type="text/javascript" src="${base}/resources/date/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="${base}/resources/date/bootstrap-datetimepicker.zh-CN.js"></script>
        <title>后台首页</title>
    </head>
<body>

                     <div class="box-right-main">
                        <h2><span class="glyphicon glyphicon-play" style="margin-right:5px"></span>提现管理</h2>

                      <div class="tablelist">
                      	<form action="${base}/sysmember/WithdrawManage" method="post" id="form1">
                        <table class="table tabletop">
                        <tr>
                        <td style="width:110px;padding-left:30px">姓名：</td>
                        <td style="width:180px"><input type="text" name="memberName" class="form-control" placeholder="姓名" value="${(memberWithdrawRecord.memberName)!!}"></td>
                        <td style="width:110px;padding-left:30px">手机号：</td>
                        <td style="width:180px"><input type="text"  name="mobilePhone" class="form-control" placeholder="手机号" value="${(memberWithdrawRecord.mobilePhone)!!}"></td>
                        <td style="width:130px;padding-left:30px">绑卡卡号：</td>
                        <td style="width:180px"><input type="text" class="form-control" name="bankCard" placeholder="绑卡卡号" value="${(memberWithdrawRecord.bankCard)!!}"></td>
                         <td style="width:80px">状态：</td>
	                    <td style="width:180px"><select name="status" class="form-control" style="width:130px;height:32px" id="status">
	                   		<option value="">全部</option>
	                        <option value="1">待审核</option>
	                        <option value="2">已付款</option>
	                        <option value="3">打款中</option>
	                        <option value="4">打款失败</option>
	                       	<option value="4">已解冻</option>
	                    </select></td>
                         <td style="width:110px;padding-left:30px">提现时间：</td>
                        <td style="width:180px"><input type="text"  name="createDate" class="form-control time" placeholder="提现时间" readonly="readonly" value="${(memberWithdrawRecord.createDate?string('yyyy-MM-dd'))!!}"></td>
                         <td class="pull-right" style="padding-right:30px">
                         <button type="submit" class="btn btn-primary btn-sm">查询</button></td>
	                    <td><button type="button" class="btn btn-primary btn-sm" onclick="$('#form1').find(':input').not(':button, :submit, :reset').val('').removeAttr('checked').removeAttr('selected');">重置</button></td>
	                 	 </tr>    
                        </table>
                        </form>
                        <table class="table table-bordered tablebox">
                          <tr class="text-center" bgcolor="#f7f7f7">
                          <td>序号</td>
                          <td>手机号</td>
                          <td>姓名</td>
                          <td>身份证</td>
                          <td>提现金额</td>
                          <td>提现银行</td>
                          <td>提现卡号</td>
                          <td>提现开户行地址</td>
                          <td>提现状态</td>
                          <td>提现时间</td>
                          <td>账号详细</td>
                          <td>操作</td>
                          </tr>
                          <#list pageInfo.list as m>
                          <tr class="text-center">
                            <td>${m_index+1}</td>
                            <td>${(m.mobilePhone)!!}</td>
                            <td>${(m.memberName)!!}</td>
                            <td>${(m.identity)!!}</td>
                            <td>${(m.amount)!!}</td>
                            <td>${(m.bankName)!!}</td>
                            <td>${(m.bankCard)!!}</td>
                            <td>${(m.cardaddress)!!}</td>
                            <td>
                            	<#if (m.status==0) || (m.status==3)>
                            	<font style="color: red;">${(m.statusDesc)!!}</font>
                            	<#else>
                            	<font style="color: green;">${(m.statusDesc)!!}</font>
                            	</#if>
                            </td>
                            <td>${(m.createDate?string('yyyy-MM-dd HH:mm:ss'))!!}</td>
                            <td><a class="btn btn-primary btn-sm" href="${base}/sysmember/memberInfo?id=${m.memberId}">账号详细</a></td>
                            <td>
                            	
                            	<#if m.status==1>
                            		已审核
								<#elseif m.status==2>
									打款中
								<#elseif m.status==4>
									已解冻
								<#elseif m.status==3>
									<a class="btn btn-primary btn-sm" href="${base}/sysmember/withdrawAudit?serialNumber=${m.serialNumber}" data-toggle="modal" data-target="#myModal" onclick="return confirm('你确定要审核通过吗')">审核</a>
									<a class="btn btn-primary btn-sm" href="${base}/sysmember/WithdrawUnfreeze?serialNumber=${m.serialNumber}" onclick="return confirm('你确定要解冻吗')">解冻</a>
								<#else>
                            		<a class="btn btn-primary btn-sm" data-toggle="modal" onclick="audit('${m.serialNumber}')">审核</a>
									<a class="btn btn-primary btn-sm" href="${base}/sysmember/withdrawPayment?serialNumber=${m.serialNumber}&channelName=BEIFU" onclick="return confirm('你确定要审核通过吗')">贝付打款</a>
									<a class="btn btn-primary btn-sm" href="${base}/sysmember/WithdrawUnfreeze?serialNumber=${m.serialNumber}" onclick="return confirm('你确定要解冻吗')">解冻</a>
									<!-- <a class="btn btn-primary btn-sm" href="${base}/sysmember/WithdrawPayFuIou?serialNumber=${m.serialNumber}" onclick="return confirm('你确定要审核通过吗')">富友打款</a> --> 
                            	</#if> 
                            </td>
                          	</tr>
                          </#list>
                        </table>
		<#include "paginate.html" />
<@paginate currentPage=(pageInfo.pageNum)!0 totalPage=(pageInfo.pages)!0 actionUrl="${base}/sysmember/WithdrawManage" 
	urlParas="&memberName=${(memberWithdrawRecord.memberName)!!}&mobilePhone=${(memberWithdrawRecord.mobilePhone)!!}&bankCard=${(memberWithdrawRecord.bankCard)!!}&status=${(memberWithdrawRecord.status)!!}&createDate=${(memberWithdrawRecord.createDate?string('yyyy-MM-dd'))!!}"/>

         </div>

         <!-- 内容结束 -->

	</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">选择打款方式</h4>
         </div>
         <form action="${base}/sysmember/withdrawAudit" method="get">
         <div class="modal-body">
         	<input type="hidden" name="serialNumber" value="" id="serialNumber">
            <select class="form-control" name="channelName" style="width: 200px;">
            	<option value="FUIOU" selected="selected">富友</option>
            	<option value="BEIFU">贝付</option>
            </select>
        
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">提交 </button>
         </div>
          </form>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->

<script type="text/javascript">
	$(function(){
		$("#status").val("${(memberWithdrawRecord.status)!!}");
		
		$('.time').datetimepicker({
			format : 'yyyy-mm-dd',
			language: 'zh-CN',
		    weekStart: 1,
		    todayBtn: 1,			
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0,
			autoclose : false
		}).on('changeDate', function(ev) {
			$('.time').datetimepicker('hide');
		});
	});
	
	function audit(serialNumber){
		$("#serialNumber").val(serialNumber);		
		$("#myModal").modal();
	}
</script>
<!-- 容器结束 -->
</body>
</html>