<#include '../common/base.html'>
<!DOCTYPE html>
    <html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<link rel="stylesheet" href="${base}/resources/sys/ying/iconfont.css">
        <link rel="stylesheet" href="${base}/resources/sys/style/bootstrap.css">
        <link rel="stylesheet" href="${base}/resources/sys/webupload/webuploader.css">
        <link rel="stylesheet" href="${base}/resources/sys/webupload/demo.css">
        <link rel="stylesheet" href="${base}/resources/sys/style/style.css">
        
        <script type="text/javascript" src="${base }/resources/uploadify/jquery.min.js"></script>
        <script src="${base }/resources/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="${base }/resources/uploadify/uploadify.css">
		
		<script type="text/javascript" charset="utf-8" src="${base}/resources/ueditor1_4_3_1/ueditor.config.js"></script>
	    <script type="text/javascript" charset="utf-8" src="${base}/resources/ueditor1_4_3_1/ueditor.all.min.js"> </script>
	    <script type="text/javascript" charset="utf-8" src="${base}/resources/ueditor1_4_3_1/lang/zh-cn/zh-cn.js"></script>
        <title>后台首页</title>
    </head>
    <body>

    <div class="box-right-main">
        <h2>
            <span class="glyphicon glyphicon-play" style="margin-right: 5px"></span>添加资讯
        </h2>

        <form action="${base}/news/editNews" method="post" id="valForm">
        <input type="hidden" name="id" value="${(news.id)!!}">
            <div class="tablelist">
                <!-- 表单 -->
                <div class="row bdlist">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属类别<b style="color: red;">*</b>：</label>

                            <div class="col-sm-9">
                               <select name="typeid.id" id="typeid"  class="selectpicker form-control">
										<#list newsTypes as nt>	
										<option value="${nt.id}">${nt.name}</option>
										</#list>
								</select>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标题<b style="color: red;">*</b>：</label>

                            <div class="col-sm-9">
                                <input class="form-control"  type="text" name="title" id="textfield"  value="${(news.title)!!}"/>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序：<b style="color: red;">*</b>：</label>

                            <div class="col-sm-9">
                               <input class="form-control"  type="text" name="sort" id="textfield2"  value="${(news.sort)!!}"/>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">副标题：</label>

                            <div class="col-sm-9">
                               <input class="form-control"  type="text" name="subtitle" id="textfield3"  value="${(news.subtitle)!!}"/>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">显示属性：</label>

                            <div class="col-sm-9">
                              	<p> <input   type="checkbox" id="plactop" name="plactop" value="0">是否置顶</p>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-sm-3 control-label">页面SEO标题：</label>

                            <div class="col-sm-9">
                                <textarea class="form-control"  name="seotitle" id="textarea2" cols="45" rows="2">${(news.seotitle)!!}</textarea>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">简介：</label>

                            <div class="col-sm-9">
                               <textarea class="form-control"  name="info" id="textarea" cols="45" rows="2">${(news.info)!!}</textarea>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">封面图片：</label>

                            <div class="col-sm-9">
                                <div id="url" style="text-align:left">
						    		<input type="file" name="file_upload" id="file_upload">
									<input type="hidden" name="cphoto" id="cphoto"/>
								</div>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">链接地址</label>

                            <div class="col-sm-9">
                                <input class="form-control"  type="text" name="link" id="textfield3" value="${(news.link)!!}" />
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作者</label>

                            <div class="col-sm-9">
                                <input class="form-control"  type="text" name="author" id="textfield4" value="${(news.author)!!}" />
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">来源</label>

                            <div class="col-sm-9">
                                <input class="form-control"  type="text" name="source" id="textfield5" value="${(news.source)!!}" />
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">标签</label>

                            <div class="col-sm-9">
                                <input class="form-control"  type="text" name="label" id="textfield6" value="${(news.label)!!}" />
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-sm-3 control-label">点击数量</label>

                            <div class="col-sm-9">
                                <input class="form-control"  type="text" name="clicknumber" id="textfield7" value="${(news.clicknumber)!!}" />
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        
                        <div class="form-group raiseStart">
                            <label class="col-sm-3 control-label">页面SEO描述：</label>

                            <div class="col-sm-9">
                                <textarea class="form-control"  name="seodes" id="textarea2" cols="45" rows="2">${(news.seodes)!!}</textarea>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        <div class="form-group raiseEnd" >
                            <label class="col-sm-3 control-label">页面SEO关键字：</label>

                            <div class="col-sm-9">
                               <textarea class="form-control"  name="seokey" id="textarea3" cols="45" rows="2">${(news.seokey)!!}</textarea>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">附件：</label>

                            <div class="col-sm-9">
                                <div id="urlfilelink" style="text-align:left">
						    		<input type="file" name="filelink1" id="filelink_upload">
									<input type="hidden" name="filelink" id="filelink"/>
								</div>
                                <span style="visibility: hidden">验证提示预留位置</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
       	<div class="row bdlist">
            <div class="col-md-12">
	        <h2>
	            <span class="glyphicon glyphicon-play" style="margin-right: 5px"></span>内容
	        </h2>
	        <div>
			    <div><textarea name="text" id="editor" style="width: 100%;height: 200px;">${(news.text)!!}</textarea></div>
    			<script type="text/javascript"> var ue = UE.getEditor('editor');</script>
			</div>
         </div>
        </div>
       
         <div class="tablebaocun">
         	  <br>
              <button type="submit" class="btn btn-primary btn-sm" style="margin-left: 40%; margin-bottom: 20px; padding: 10px 30px">保存</button>
         </div>
        </form> 
        <!-- 内容结束 -->
    </div>
    <script src="${base}/resources/dist/js/bootstrapValidator.min.js"></script>
    <!-- 容器结束 -->
    <script type="text/javascript">
		$(function() {
			$("#typeid").val("${(news.typeid.id)!!}");
			$("input:checkbox[value='${(news.plactop)!!}']").attr('checked','checked');
			if("${(news.cphoto)!!}"!=null&&"${(news.cphoto)!!}"!=""){
				$('#url').append("<div id='${news.cphoto}' class='uploadimg'> <img width=50 height=50 src='${base}/${(news.cphoto)!!}' /> "+
						"<a href=javascript:delimg('${news.cphoto}')>删除</a> </div>");
				$("#cphoto").val("${news.cphoto}");
			}
			if("${(news.filelink)!!}"!=null&&"${(news.filelink)!!}"!=""){
				$('#urlfilelink').append("<div id='${(news.filelink)!!}' class='uploadvedio'> <a href='${base}/${(news.filelink)!!}' target='_black'>${(news.filelink)!!}</a> "+
						"<a href=javascript:delimg('${(news.filelink)!!}','filelink')>删除</a> </div>");
				$("#filelink").val("${news.filelink}");
			}
			
			
			 $('#valForm').bootstrapValidator({
		            message: 'This value is not valid',
		            feedbackIcons: {
		                valid: 'glyphicon glyphicon-ok',
		                invalid: 'glyphicon glyphicon-remove',
		                validating: 'glyphicon glyphicon-refresh'
		            },
		            fields: {
		            	title: {
		                    message: '',
		                    validators: {
		                        notEmpty: {
		                            message: '标题不能为空!'
		                        },
		                        stringLength: {
		                            min: 2,
		                            max: 100,
		                            message: '标题长度为2-100个字符!'
		                        }
		                    }
		            	},
		            	sort: {
		                    message: '',
		                    validators: {
		                        notEmpty: {
		                            message: '排序不能为空!'
		                        },
		                        regexp: {
	                                regexp: /^[0-9]+$/,
	                                message: '排序为数字!'
	                            }
		                    }
		            	}
		          }
		          
			 });
		
		
			 $('#file_upload').uploadify({
					'swf' : '${base }/resources/uploadify/uploadify.swf', //指定上传控件的主体文件，默认‘uploader.swf’
					'uploader' : '${base }/upload/fileupload', //指定服务器端上传处理文件
					'auto' : true, //手动上传
					'buttonImage' : '${base }/resources/uploadify/uploadify-browse.png', //浏览按钮背景图片
					'multi' : false, //单文件上传
					'fileTypeExts' : '*.gif; *.jpg; *.png;', //允许上传的文件后缀
					'fileSizeLimit' : '300MB', //上传文件的大小限制，单位为B, KB, MB, 或 GB
					'successTimeout' : 30, //成功等待时间
					'queueSizeLimit' : 1,
					'fileObjName':'file',
					'onUploadSuccess' : function(file, data,
							response) {//每成功完成一次文件上传时触发一次
						var image=eval("["+data+']')[0];
						$(".uploadimg").remove();
						$('#url').append("<div id="+image.msg+" class='uploadimg'> <img width=50 height=50 src=${base}/"+image.msg+" /> "+
								"<a href=javascript:delimg('"+image.msg+"','cphoto')>删除</a> </div>");
						$("#cphoto").val(image.msg);
					},
					'onUploadError' : function(file, data, response) {//当上传返回错误时触发
						$('#url').append("<li>" + data + "</li>");
						
					}								
				});
			 
			 $('#filelink_upload').uploadify({
					'swf' : '${base }/resources/uploadify/uploadify.swf', //指定上传控件的主体文件，默认‘uploader.swf’
					'uploader' : '${base }/upload/videofile', //指定服务器端上传处理文件
					'auto' : true, //手动上传
					'buttonImage' : '${base }/resources/uploadify/uploadify-browse.png', //浏览按钮背景图片
					'multi' : false, //单文件上传
					'fileTypeExts' : '*.avi;*.rmvb;*.rm;*.asf;*.divx;*.mpg;*.mpeg;*.mpe;*.wmv;*.mp4;*.mkv;*.vob;', //允许上传的文件后缀
					'fileSizeLimit' : '300MB', //上传文件的大小限制，单位为B, KB, MB, 或 GB
					'successTimeout' : 30, //成功等待时间
					'queueSizeLimit' : 1,
					'fileObjName':'file',
					'onUploadSuccess' : function(file, data,
							response) {//每成功完成一次文件上传时触发一次
						var image=eval("["+data+']')[0];
						$(".uploadvedio").remove();
						$('#urlfilelink').append("<div id="+image.msg+" class='uploadvedio'> <a href=${base}/"+image.msg+" target='_black'>"+image.msg+"</a> "+
								"<a href=javascript:delimg('"+image.msg+"','filelink')>删除</a> </div>");
						$("#filelink").val(image.msg);
					},
					'onUploadError' : function(file, data, response) {//当上传返回错误时触发
						$('#urlfilelink').append("<li>" + data + "</li>");
						
					}								
				});
		
		});
		<!--删除图片-->
		function delimg(obj,tval){
			var url="${base}/upload/delimg";		
			$.post(url,{'imgpath':obj},function(data){
					if(data.code==0){
						document.getElementById(obj).remove();	
						document.getElementById(tval).value="";
					}
			});
		}
		
	</script> 
    </body>
    </html>