<!DOCTYPE html>
<html lang="zh-cn">
<#include 'common/base.html'>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="${base}/resources/sys/ying/iconfont.css">
	<link rel="stylesheet" href="${base}/resources/sys/ying/font2.css">
	<link rel="stylesheet" href="${base}/resources/sys/style/bootstrap.css">
	<link rel="stylesheet" href="${base}/resources/sys/style/style.css">
	<title>盈+后台管理中心</title>
</head>
<body>
<!-- 容器开始 -->
	<div class="container-layout">
	     <!-- 头部开始	 -->
	     <div class="row">
           <div id="top">
           <div class="col-sm-2">
           	     <div class="top-left">
           	     	<img src="${base}/resources/sys/images/logo.jpg" alt="">
           	     </div>
           </div>

           <div class="col-sm-10">
           	  <div class="top-right">
           	    <ul class="nav nav-pills">
               <li><p><span class="iconfont">&#xe605;</span></p><p>${name}，${(userRole.cname)!!}</p></li>
               <li style="width:100px"><p><a href="${base}/manage/logout"><span class="iconfont">&#xe606;</span></a></p><p>退出</p></li>
                </ul>
           	     </div>
          </div>
          </div>
          </div>
         <!-- 头部结束 -->

         <!-- 内容开始 -->
            <div class="row">
             <div id="box">
                <div class="col-sm-2">
             	  <div class="box-left">
                      <ul class="nav nav-pills nav-stacked">
                      <@shiro.hasPermission name="licai_mangere">
                       <li><a href="javascript:;" class="titlea"><span class="iconfont">&#xe609;</span>理财产品</a></li>
		               <ul class="list-group">
			               <@shiro.hasPermission name="licai_gsl_p2p_manager">
			               <li class="list-group-item"><a href="${base}/subject/sys/gushouList" target="rightkj">固收类</a></li>
			               </@shiro.hasPermission>
		               	   <@shiro.hasPermission name="licai_sml_p2p_manager">
			               <li class="list-group-item"><a href="${base}/financeProductFunds/list" target="rightkj">私募/股权类</a></li>
			               </@shiro.hasPermission>
			               <@shiro.hasPermission name="licai_gql_p2p_manager">
			               <li class="list-group-item"><a href="${base}/overseaSys/overseaConfig" target="rightkj">海外配置</a></li>
			               </@shiro.hasPermission>
		               </ul>
   					  </@shiro.hasPermission>
 					  <@shiro.hasPermission name="qianbao_mangere">
 					  <li><a href="javascript:;" class="titlea"><span class="iconfont">&#xe60c;</span>钱包管理</a></li>
              		  <ul class="list-group">
			               <@shiro.hasPermission name="qianbao_sjczjl_manager">
			               <li class="list-group-item"><a href="${base}/dailycash/list" target="rightkj">钱包缴费记录</a></li>
			               </@shiro.hasPermission>
                      </ul>
				   	 </@shiro.hasPermission>
	   				 <@shiro.hasPermission name="xueyuan_mangere">	  
		              <li><a href="javascript:;" class="titlea"><span class="iconfont">&#xe60b;</span>学院管理</a></li>
		              <ul class="list-group">
		              	   <@shiro.hasPermission name="xueyuan_zxgl_manager">
			               <li class="list-group-item"><a href="${base}/newsType/index" target="rightkj">资讯分类</a></li>
			               </@shiro.hasPermission>
			               <@shiro.hasPermission name="xueyuan_spgl_manager">
			               <li class="list-group-item"><a href="${base}/news/index" target="rightkj">资讯管理</a></li>
			               </@shiro.hasPermission>
		               
		              </ul>
	                 </@shiro.hasPermission>
	                 <@shiro.hasPermission name="huiyuan_mangere">	  
		              <li><a href="javascript:;" class="titlea"><span class="iconfont">&#xe608;</span>会员管理</a>
		              </li>
		              <ul class="list-group">
		              	   <@shiro.hasPermission name="huiyuan_zhgl_manager">
			               <li class="list-group-item"><a href="${base}/sysmember/index" target="rightkj"></span>账号管理</a></li>
			               </@shiro.hasPermission>
			                <@shiro.hasPermission name="huiyuan_lcssh_manager">
			               <li class="list-group-item"><a href="${base}/sysmember/financia" target="rightkj">理财师审核</a></li>
			               </@shiro.hasPermission>
			               <@shiro.hasPermission name="huiyuan_bkgl_manager">
			               <li class="list-group-item"><a href="${base}/sysmember/dahua" target="rightkj">绑卡管理</a></li>
			               </@shiro.hasPermission>
			               <@shiro.hasPermission name="huiyuan_fxgl_manager">
			               <li class="list-group-item"><a href="${base}/sysmember/payment" target="rightkj">付息计划</a></li>
			               </@shiro.hasPermission>
			                <@shiro.hasPermission name="huiyuan_czgl_manager">
			               <li class="list-group-item"><a href="${base}/sysmember/rechargeManage" target="rightkj">充值管理</a></li>
			               </@shiro.hasPermission>
			                <@shiro.hasPermission name="huiyuan_txgl_manager">
			               <li class="list-group-item"><a href="${base}/sysmember/WithdrawManage" target="rightkj">提现管理</a></li>
			               </@shiro.hasPermission>
			               <@shiro.hasPermission name="huiyuan_yqjl_manager">
			               <li class="list-group-item"><a href="${base}/sysmember/inviteRewards" target="rightkj">邀请奖励</a></li>
			               </@shiro.hasPermission>
		              </ul>
		             </@shiro.hasPermission>
		             
		             <@shiro.hasPermission name="yingjia_statistics">	  
		              <li><a href="javascript:;" class="titlea"><span class="iconfont">&#xe60a;</span>盈+统计</a></li>
		              <ul class="list-group">
		              	   <@shiro.hasPermission name="yingjia_statistics_finance">
			               <li class="list-group-item"><a href="${base}/statistics/financeList" target="rightkj">财务统计</a></li>
			               </@shiro.hasPermission>
			               <@shiro.hasPermission name="yingjia_statistics_user">
			               <li class="list-group-item"><a href="${base}/statistics/userStatistics" target="rightkj">用户综合统计</a></li>
			               </@shiro.hasPermission>
		              </ul>
		              </@shiro.hasPermission>
		             
		              <@shiro.hasPermission name="yingjia_mangere">	  
		              <li><a href="javascript:;" class="titlea"><span class="iconfont">&#xe60a;</span>盈+设置</a></li>
		              <ul class="list-group">
		              	   <@shiro.hasPermission name="yingjia_notice_manager">
			               <li class="list-group-item"><a href="${base}/setting/noticelist" target="rightkj">公告管理</a></li>
			               </@shiro.hasPermission>
			               <@shiro.hasPermission name="yingjia_yjfk_manager">
			               <li class="list-group-item"><a href="${base}/setting/feedbackList" target="rightkj">意见反馈</a></li>
			               </@shiro.hasPermission>
		              </ul>
		              </@shiro.hasPermission>
		               <@shiro.hasPermission name="xitong_mangere">	  
		              <li><a href="javascript:;" class="titlea"><span class="iconfont">&#xe60d;</span>系统设置</a></li>
		              <ul class="list-group">
		              	   <@shiro.hasPermission name="xitong_userlist_manager">
			               <li class="list-group-item"><a href="${base}/sys/userlist" target="rightkj">账户设置</a></li>
			               </@shiro.hasPermission>
			               <@shiro.hasPermission name="xitong_rolelist_manager">
			               <li class="list-group-item"><a href="${base}/sys/rolelist" target="rightkj">角色设置</a></li>
			               </@shiro.hasPermission>
			               <@shiro.hasPermission name="xitong_psw_manager">
			               <li class="list-group-item"><a href="${base}/sys/updatePasswdPage" target="rightkj">密码设置</a></li>
			               </@shiro.hasPermission>
                      </ul>
		              </@shiro.hasPermission>
		               </ul>
                </div>
                </div>
                <div class="col-sm-10">
                <div class="box-right">
                <iframe width="100%" id="kuangjia" name="rightkj" frameborder=0 scrolling=auto src="${base}/sys/index"></iframe>
               </div>
         </div>
         <!-- 内容结束 -->
	</div>
<!-- 容器结束 -->
</body>
 <script src="${base}/resources/sys/js/jquery.js"></script>
  <script src="${base}/resources/sys/js/bootstrap.js"></script>
  <script src="${base}/resources/sys/js/yj.js"></script>
</html>
