<h2>
    <span class="glyphicon glyphicon-play" style="margin-right: 5px"></span>特定属性
</h2>
<div class="row bdlist typicalPanel">
	<#list subject.subjectFieldRecords as field>
        <div class="form-group col-md-6">
            <label class="col-sm-3 control-label">${field.fieldId.description}：</label>
            <div class="col-sm-9">
                <input name="subjectFieldRecords[${field_index}].id" value="${field.id}" type="hidden">
                <input name="subjectFieldRecords[${field_index}].fieldValue" value="${field.fieldValue}" class="form-control" placeholder="请输入文本" type="text">
                <span style="visibility: hidden">验证提示预留位置</span>
            </div>
        </div>
    </#list>
</div>