<#include 'base.html'>
    <link href="${base}/resources/style/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="${base}/resources/style/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="${base}/resources/dist/css/bootstrapValidator.css" rel="stylesheet" type="text/css"/>
	<link href="${base}/resources/style/pintuer.css"  rel="stylesheet"  type="text/css"/>
	<link href="${base}/resources/style/button.css" rel="stylesheet" type="text/css"/>
	<link href="${base}/resources/style/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="${base}/resources/js/jquery.js"></script>
    <script type="text/javascript" src="${base}/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="${base}/resources/dist/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="${base}/resources/js/pintuer.js"></script>
    <script type="text/javascript" src="${base}/resources/js/yy.js"></script>
    <script type="text/javascript" src="${base}/resources/js/yz.js"></script>

    <script src='${base}/resources/dist/js/jquery.min.js'></script>
    <script src="${base}/resources/dist/js/bootstrapValidator.min.js"></script>
    <script src="${base}/resources/dist/js/ace-extra.min.js"></script>
    <script src="${base}/resources/dist/js/bootstrap.min.js"></script>
    <script src="${base}/resources/dist/js/ace-elements.min.js"></script>
    <script src="${base}/resources/dist/js/ace.min.js"></script>
    <script src="${base}/resources/dist/js/jquery.gritter.min.js"></script>

	  <link rel="stylesheet" href="${base}/resources/dist/css/bootstrapValidator.min.css"/> 
	  <link rel="stylesheet" href="${base}/resources/dist/css/font-awesome.min.css" /> 
	  <link rel="stylesheet" href="${base}/resources/dist/css/ace-fonts.min.css" /> 
	  <link rel="stylesheet" href="${base}/resources/dist/css/jquery.gritter.min.css" /> 
	  <!-- <link rel="stylesheet" href="${base}/resources/dist/css/ace.min.css" />  -->
<!--  <style type="text/css"> -->
<!--      input{ -->
<!--          margin-right: 10px; -->
<!--      } -->
<!--      .has-feedback label ~ .form-control-feedback{ -->
<!--          top: 0px; -->
<!--      } -->
<!--      .form-horizontal .has-feedback .form-control-feedback{ -->
<!--          right: 280px; -->
<!--      } -->
<!--  </style> -->
