<#assign base="${rc.contextPath}">
<#setting datetime_format="yyyy-MM-dd" />
<#setting locale="zh_CN" />
<#assign year="${.now?string('yyyy')}" />

<meta name="keywords" content="盈+，盈，社区金融，O2O社区金融，社区金融O2O，O2O，互联网+社区金融，O2O连锁，社区门店，首家社区金融，社区金融服务，综合金融，互联网金融，体验中心，普惠金融，金融创新，社区化，普惠化，全渠道化，互联网线上平台，O2O交易，全国首家，盈十，金融衍生品，固收类理财，私募基金，股权基金，股指期货，玩转股指，商品期货，国际期货，外盘，A50，沪深300，中证500，上证50" />
<meta name="description" content="盈+——全国首家互联网金融交流体验中心，与您共盈，给财富做加法。" />
<link href="${base}/resources/web/images/icon.ico" type="image/x-icon" rel="shortcut icon">

