<!DOCTYPE html>
<html>
<head>
<#include "../common/base.html">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=yes">
    <meta name="Keywords" content="股指体验交易，股指单手交易，股指多手交易">
    <meta name="description" content="申请实盘交易账户，直接进行实盘交易。">
    <title>充值记录-会员中心-盈+</title>
    <link href="http://www.ying158.com/images/icon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="${base}/resources/web/css/common.css" rel="stylesheet">
    <link href="${base}/resources/web/css/jw.css" rel="stylesheet">
    <link href="${base}/resources/web/font/iconfont.css" rel="stylesheet">
    <script src="${base}/resources/web/js/jquery.js"></script>
    <script src="${base}/resources/web/echart/dist/echarts.js"></script>
</head>
<body>
<#include "../common/top.html">
<#include "admin-top.html">
<div class="proMain clearfix">
<#include "admin-left.html">
    <div class="admin-right">
        <div class="tbConBox">
            <div class="tab">
                <a class="select" href="javascript:;">体验金记录</a>
            </div>
            <div id="conBox">
                <div class="box" style="display:block">
                    <div class="remind"><h4><strong><span style="color:#827E76">体验金余额(元)：</span><span
                            style="color:#9d8440">${(memberAccount.bbinAmount)!!}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <#if memberAccount.bbinAmount??>
                            <#if (memberAccount.bbinAmount>0)>
                                <a href="${base}/subject">立即使用</a>
                            </#if>
                        </#if>
                        </strong></h4></div>

                    <div>
                    <#if hasBbinApi??>
                        <table class="tzlist" width="100%" border="1" bordercolor="#e9e9e9" cellspacing="0"
                               cellpadding="0">
                            <tr>
                                <td>标的名称</td>
                                <td style="color:#9d8440;">${(hasBbinApi.name)!!}</td>
                                <td>状态</td>
                                <td style="color:#9d8440;">${(hasBbinApi.ispayment)!!}</td>
                            </tr>
                            <tr>
                                <td>投资金额</td>
                                <td style="color:#9d8440;">${(hasBbinApi.amount?string.currency)!!}</td>
                                <td>期限</td>
                                <td style="color:#9d8440;">${(hasBbinApi.period)!!}天</td>
                            </tr>
                            <tr>
                                <td>收益方式</td>
                                <td style="color:#9d8440;">${(hasBbinApi.refundWay)!!}</td>
                                <td>年化收益率</td>
                                <td style="color:#9d8440;">${(hasBbinApi.yearRate)!!}%</td>
                            </tr>
                            <tr>
                                <td>计息日</td>
                                <td style="color:#9d8440;">${(hasBbinApi.createDate?string('yyyy-MM-dd'))!!}</td>
                                <td>预期收益</td>
                                <td style="color:#9d8440;">${(hasBbinApi.interest?string.currency)!!}</td>
                            </tr>
                            <tr>
                                <td>结束日</td>
                                <td style="color:#9d8440;">${(hasBbinApi.endDate?string('yyyy-MM-dd'))!!}</td>
                                <td>已获收益</td>
                                <td style="color:#9d8440;">${(hasBbinApi.yprofit)!!}元</td>
                            </tr>
                        </table>
                    </#if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#include "../common/footer.html">
</body>
</html>