<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=yes">
	<meta name="Keywords" content="股指体验交易，股指单手交易，股指多手交易">
	<meta name="description" content="申请实盘交易账户，直接进行实盘交易。">
	<title>注册 - 盈+</title>
	<#include '../common/resources.html'>
	<script type="text/javascript">
function submitForm(){
document.getElementById("form").submit();
}
</script>
</head>
<body onload="javascript:submitForm();">
 <form name="pay" method="post" action="${(fuioupayGateway)!!}" id = "form">
<input type="hidden" value = '${(md5)!!}' name="md5"/>
<input type="hidden" value = '${(mchnt_cd)!!}' name="mchnt_cd"/>
<input type="hidden" value = '${(order_id)!!}' name="order_id"/>
<input type="hidden" value = '${(order_amt)!!}' name="order_amt"/>
<input type="hidden" value = '${(order_pay_type)!!}' name="order_pay_type"/>
<input type="hidden" value = '${(page_notify_url)!!}' name="page_notify_url"/>
<input type="hidden" value = '${(back_notify_url)!!}' name="back_notify_url"/>
<input type="hidden" value = '${(order_valid_time)!!}' name="order_valid_time"/>
<input type="hidden" value = '${(iss_ins_cd)!!}' name="iss_ins_cd"/>
<input type="hidden" value = '${(goods_name)!!}' name="goods_name"/>
<input type="hidden" value = '${(goods_display_url)!!}' name="goods_display_url"/>
</form>
</body>
</html>